.home-page {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-container {
  display: flex;
  width: fit-content;
  height: 380px;
  border-radius: 1rem;
  box-shadow: 0 0 8px 2px rgba($color: #000000, $alpha: 0.5);
}

.box-img {
  height: 20em;
  width: 20em;
  border: 1px solid black;
  border-radius: 8px;
}

.box-text {
  text-align: center;
  font-weight: 800;
  font-size: 1.5em;
}
